body {
    font-family: 'Segoe UI', sans-serif;
    background: #f8f9fa;
    margin: 0;
}

.navbar {
    background: #2f5d4e;
}

.navbar-brand {
    font-weight: bold;
    font-size: 24px;
}

.navbar .nav-link {
    color: #fff ;
    margin: 0 10px;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
    color: #f4b400 ;
    border-bottom: 2px solid #f4b400;
}

.hero {
    background: #2f5d4e;
    color: #fff;
    padding: 100px 0;
}

.hero h1 {
    font-size: 50px;
    font-weight: 700;
}

.hero p {
    color: #dcdcdc;
    margin: 20px 0;
}

.btn-yellow {
    background: #f4b400;
    font-weight: 600;
    transition: 0.3s;
}

.btn-yellow:hover {
    background: #d99a00;
}

.hero img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.product-section {
    padding: 80px 0;
    background-color: #f0f0f0;
}

.product-section h2 {
    font-weight: 700;
    margin-bottom: 20px;
}

.product-item {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: #000;
    transition: 0.3s;
    border-radius: 10px;
}

.product-item:hover {
    transform: translateY(-6px);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.product-thumbnail {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s;
}

.product-item:hover .product-thumbnail {
    transform: scale(1.05);
}

.product-overlay {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 20px);
    opacity: 0;
    transition:  0.4s ease;
    z-index: 10;
}

.product-item:hover .product-overlay {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.product-overlay button {
    background: #000;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
    transition: 0.2s;

}

.product-overlay button:hover {
    transform: scale(1.2);
    background: #333;

}
.product-overlay button i {
    font-size: 22px;
}

